<div ng-controller="movieController" class="movieDetail-section">
    <div class="container" ng-model="movieDetail">
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%; height:100%; object-fit: cover;"
                    ng-src="https://image.tmdb.org/t/p/original/{{movieDetail.backdrop_path}}"
                    alt="{{movieDetail.title}}">
            </div>
            <div class="col-md-6">
                <h1>{{movieDetail.title}}</h1>
                <h1 style="font-style: italic; font-weight: 300; font-size: 1.5em;">{{movieDetail.tagline}}</h1>

                <h4 class="rating">Rating: {{movieDetail.vote_average*10 | number:0}}%
                </h4>
                <h4>Overview</h4>
                <p>{{movieDetail.overview}}</p>
                <h4>Tags</h4>
                <div class="tagContainer">
                    <div ng-repeat="tag in movieTags">
                        <h5 class="tag">{{tag.name}}</h5>
                    </div>
                </div>

            </div>
        </div><br><a href="https://www.themoviedb.org/movie/{{movieDetail.id}}-{{movieDetail.title}}" target="_blank"
            class="imdb">IMDB</a>
    </div>
</div>
